

.addition-header{
    border-bottom: 1px dotted #ddd;
    height: 170px;
    padding-top: 40px;
    background: #17a2b8;
}

.addition-header-title{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: #fff
}

.addition-header-sub-title{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #eee;
    padding-top: 10px;
}

.addition-content{
    min-height: 600px;
    height: auto;
    background: #eee;
    padding: 50px 50px 150px 30px;

}

.addition-form-frame1{
    width: 80%;
    margin: 40px auto;
    padding-top: 40px ;
    padding-bottom: 40px ;
    border-bottom: #eee 1px solid;
    font-size: 24px;
}


.addition-form-frame2{
    width: 80%;
    margin: 20px auto;
    padding-top: 20px ;
    padding-bottom: 20px ;
    font-size: 22px;
}

.addition-summary{
    height: 650px;
    background: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.addition-func{
    position: fixed;
    bottom: 200px;
}

.addition-btns{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
}

.addition-options{
    background: #fff;
    min-height: 600px;
    width: 100%;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.addition-options-title{
    text-align: center;
    font-size:36px;
    font-weight: 600;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: #eee 1px solid;
}


.addition-option-row{
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 30px;

}

.addition-option-row-label{
    padding-top: 10px;
    margin-left: -15px;
    padding-right: 30px;
}

.addition-option-row-content{
    padding-top: 10px;
    padding-right: 30px;
}



.number-input>input{
    border-radius: 0.25em;
    border: #666 1px solid;
    height: 2em;
    padding: 0.5em
}

.summary-row{
    min-height: 4em;
    margin: 1em auto;
    border-bottom: #eee 1px solid;
    margin-top: 30px;
}

.addition-save-btn{
    margin: 20px auto;
}

.input-error{
    color: red;
}