.carousel-img{
    height: 550px !important;
}

.combo-container{
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: 50vh;
}

.combo{
    float: left;
    margin-right: 30px;
    width: 18rem
}