.service-row{
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px dotted #ccc;
}

.service-type{
    color: #666;
    margin-left: 20px;
    margin-bottom: 30px;
}


.combo{
    float: left;
    margin-right: 30px;
    width: 18rem
}
