.cart-header, .auth-header, .step-header{
    height: 150px;
    background: #3d691f;
    padding-top: 30px;
}

.auth-header{
    background: #e4861ca8;
}




.auth-body{
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    height: 700px;
    width: 10%
}


.root{
    justify-content: center; 
    min-height: 700px;
    width: 100%;
    padding-top: 100px;
}



.form-frame{
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 1px dashed #eee;
}

.step2-frame{
    padding: 30px 60px;
    margin-bottom: 40px;
    border: 1px dashed #eee;


}

.step2-title{
    text-align: center;
    color:#666

}

.step2-frame-right{
    border-left: 1px dashed #eee;
}

.step2-project-box{
    border: 1px solid #ccc;
    margin: 30px;
    padding: 40px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}



.step2-project-box:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}



.step4-left{
    min-height: 800px;
    width: 100%;
    background: #eee;
    padding-top: 30px;
    padding-left: 5%;
    padding-bottom: 50px;
}




